#app {
    /* display: flex; */
}

#app > main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    justify-content: center;
    padding: initial;
}

.game-card {
    width: 170px;
}

@media (min-width: 650px) {
    .game-card {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .game-card {
        width: 220px;
    }
}